.zuzu{
    font-size: 20px;
    color: #3e0808;
    font-family:Courier;
}

.lu{
    font-size: 20px;
    color: #2d2929;
    font-family:Courier;
}

.am{
    font-size: 20px;
    color: #131313;
    font-family:Courier;
}